.cabecaNobleGroves h1{
    margin-top: 100 px;
    margin-bottom: 2px;
}

.logo_login{
    width: 270px;
    height: auto;
}
.listaCompras{
    padding-left: 0px;
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 250px));
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    background-color:palegreen ;
}
.qtd{
    width: 40px;
    
}
.pagCompras{

}
.listaCompras img{
    width: auto;
    height: 145px;
    margin-top: 10px;
}
.listaCompras li{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 7px 0 8px 0;
}
.listaCompras li div{
    width: 80%;
}
.listaCompras li h4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 2px;
    height: 40px;
}
.check{
    margin: 0px;
    padding: 0px;
    display: flex;

}
.listaCompras li p{
    margin-top: 2px;
    margin-bottom: 2px;
}
.totalCompra{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 935px){
 .listaCompras{
    grid-template-columns: repeat(auto-fit, minmax(auto, 185px));
 }
 .listaCompras img{
    height: 105px;
 }
}
@media (max-width: 710px){
    .listaCompras{
       grid-template-columns: repeat(auto-fit, minmax(auto, 155px));
    }
    .listaCompras img{
       height: 90px;
    }
   }
   @media (max-width: 600px){
    .listaCompras{
       grid-template-columns: repeat(auto-fit, minmax(auto, 125px));
    }
    .listaCompras img{
       height: 70px;
    }
   }