@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body{
    height: 100vh;
}
.apresentacao{
    display: flex;      
    align-items: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.apresentacao h1, h2, p, h3{
    margin-bottom: 1px;  
    margin-top: 1px;
    text-align: center;
}
.logoApresentacao{
    margin-top: 100px;
    height: 250px;
    width: auto;
}
.title{
    font-family: 'Playfair Display' serif;
    color: rgba(255,255,255,0.75);
    font-size: 55px;
}
.promo{
    justify-content: center;
}
.img img,
.produtoImg img{
    width: auto;
    height: 174px;
}
.compras{
    width: 105px;
    height: 42px;
    border-radius: 18px;
    color: whitesmoke;
    background: seagreen;
    font-size: 22px;
    margin: 12px 12px 12px;
    border: none;
}

 .promoImg{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.promo .promoImg .img{
    width: 289px; 
    margin: 25px;
}
.imagemPromo{
    width: 289px;
    background-color: white;
    display: flex;  
    justify-content: center;
}
 .descricao h3, h4, .compras{
    margin-top: 5px;
    margin-bottom: 5px;
}
.produtos{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.oferta{
    width: 300px;
    height: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.comprando{
    display: none;
    width: 90%;
}
.none{
    display: none;
}
.confirmar{
    width: 50px;
    margin-left: 5px;
    height: 20px;
}
.comprando.active{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    width: 165px;
}
.comprando label, .comprando p, .comprando input{
    height: 20px;
}
.comprando input{
    width: 50px;
}
.comprando label, .comprando p{
    font-size: 15px;
}

@media (max-width: 1900px) {
    .produtos{
        grid-template-columns: repeat(5, 1fr);
    }    
}

@media (max-width: 1550px) {
    .produtos{
        grid-template-columns: repeat(4, 1fr);
    }    
}

@media (max-width: 1230px) {
    .produtos{
        grid-template-columns: repeat(3, 1fr);
    }    
}   
 
@media (max-width: 1030px) {
    .promoImg {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }    
}  

@media (max-width: 910px) {
    .produtos{
        grid-template-columns: repeat(2, 1fr);
    }    
} 
@media (max-width: 670px) {
        
    .img img,
    .produtoImg img{
        height: 140px;
        width: auto;
    } 
    .promo .promoImg .img {
        width: 235px;
        margin: 15px;
    }
    .imagemPromo, .oferta {
        width: 235px;
    }
}   

@media (max-width: 525px) {
        
    .img img,
    .produtoImg img{
        height: 120px;
        width: auto;
    } 
    .promo .promoImg .img {
        width: 200px;
        margin: 15px;
    }
    .imagemPromo,
    .oferta {
        width: 200px;
    }
}

@media (max-width: 450px) {
    .produtos,
    .promoImg {
        grid-template-columns: repeat(1, 1fr);
    }    
    .img img,
    .produtoImg img{
        height: 170px;
        width: auto;
    } 
    .promo .promoImg .img {
        width: 300PX;
        margin: 15px;
    }
    .imagemPromo,
    .oferta {
        width: 300px;
    }
   
}   

@media (max-width: 295px){
   
    .logoApresentacao{
        height: 200px;
    }
    
    .title{
        font-size: 35px;
    }
    h2{
        font-size: 1em;
    }
}
@media (max-width: 200px) {
    .img img, .produtoImg img {
        height: 150px;
        width: auto;
    } 
    .promo .promoImg .img {
        width: 250PX;
        margin: 15px;
    }
}