.topoPag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topoPag h1{
    color:rgb(255, 255, 255, 0.75);
   /* color: #ffff; */
    font-size: 70px;
    font-family: 'Playfair Display', serif;
    margin: 10px;
}
.NobleGrovesCadastro{
    height: 150px;
    width: auto;
}
.formulario{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario form{
    width: 400px;
}
input, button{
    padding: 10px; 
    margin-bottom: 10px;
    width: -webkit-fill-available;
}