
body{
    height: 100vh;
} 
.pagSobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.pagSobre nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
